.App {
    height: 100%;
    box-sizing: border-box;
}

header h1 {
    margin: 0;
    padding: 30px 15px;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding: 30px;
}

.mainContainer {
    display: flex;
    flex-direction: column;
}

.mainContainer h2 {
    padding: 30px 15px;
    text-align: center;
}